@import url('https://fonts.googleapis.com/css2?family=Changa+One:ital@0;1&family=Noto+Sans+TC:wght@700&family=Patua+One&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url('./images/realtime.jpg');
  background-repeat: no-repeat, repeat;
  background-size: cover;
  
}

.App{
  width: 100vw;
  height: 100vh;
}

/* MAIN HEADER PART*/

li{
  font-size: 16px;
  font-weight: 500;
  color: white;
  text-decoration: none;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: black;
}

.main__header-ul{
  list-style: none;
}

.main__header-ul li{
  display: inline-block;
  padding: 0px 20px;
  transition: all 0.3s ease 0s;
}

.main__header-ul li:hover{
  color: white;
  border: 10px solid turquoise;
  background-color: turquoise;
}

.main__header-sign{
  list-style: none;
  border: 10px turquoise solid;
  background-color: turquoise;
}

.main__header-link{
  text-decoration: none;
}

/*MAIN CONTENT PART*/

.form__div{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  /* border: 3px solid green; */
  /* margin-top: 4rem; */
}

.form__main{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  width: 500px;
  height: 500px;
  background-color: black;
  opacity: 0.8;
}

.form__label-username, .form__label-room, .form__label-select{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.form__label-username-icon{
  font-size: 4rem;
}

.form__select{
  padding: 12px;
  width: 250px;
  font-size: 20px;
  margin-bottom: 1rem;
}

.form__button-main{
  padding: 12px;
  width: 200px;
  font-size: 20px;
  border-radius: 0.5rem;
}


/*USER PART*/

/*Edit User*/

.form__edit-div{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.form__edit{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  width: 500px;
  height: 600px;
  background-color: black;
  opacity: 0.8;
}

.form__label-edit-username{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.form__label-edit-username-icon{
  font-size: 4rem;
}

.form__button-edit-save, .form__button-edit-delete{
  padding: 12px;
  width: 150px;
  font-size: 1rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
}

.form__buttons-edit{
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__input-edit{
  margin-bottom: 2rem;
}

/*Edit User end*/


/*New User*/

.form__new-div{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.form__new{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  width: 500px;
  height: 600px;
  background-color: black;
  opacity: 0.8;
}

.form__new-header{
  color: white;
  margin-bottom: 0.5rem;
}

.form__label-new-username{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.form__label-new-username-icon, .form__label-new-parola-icon{
  font-size: 4rem;
}

.form__button-new-save{
  padding: 12px;
  width: 150px;
  font-size: 1rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
}

.form__input-new{
  margin-bottom: 2rem;
}

/*New User end*/

/*MESSAGE PART*/

.messages-main{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: white;
  opacity: 0.8;
  width: 80vw;
  height: 80vh;
}

.messages-content{
  width: 100%;
  margin-bottom: 2rem;
 /*  overflow-x: hidden;
	overflow-y: visible auto; */
  overflow-y: hidden visible;
  overflow-x: auto;
  border: 2px solid aqua;

}

.messages__new{
  display: flex;
  flex-direction: column;
  margin-top:auto;
  width: 100%;
}


.message-body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* min-height: 80vh; */
  overflow-y: auto;
}

.each-message{
  display: inline-block;
  background-color: turquoise;
  color: white;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  font-family: 'Noto Sans TC', sans-serif;
}

.messages-table{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.message-form{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding: 2rem;
  opacity: 0.8;
}

.message__new-input{
  width: 40%;
  height: 40%;
  background-color: turquoise;
  border: 2px solid white;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.message-buttons{
  width: 30%;
  font-size: 1.5rem;
  margin-left: 2rem;
  border-radius: 0.5rem;
}

.dene{
  display: flex;
  justify-content: center;
  
}
